<template>
<div>
    <h2>UserPage</h2>
    <p v-for="user in users" :key='user.id'>
      <router-link :to="{ name: 'UserSingle', params: { id: user.id } }" >
      {{ user.id }} {{ user.name }}
    </router-link>
    </p>
</div>
</template>

<script>
export default {
  data() {
    return {
      users: [
        {id:1, name:'john'},
        {id:2, name:'jim'},
        {id:3, name:'ton'},
        {id:4, name:'big cat'},
        {id:5, name:'GO'},
      ]
    }
  },
};
</script>
