<template>
  <div>
    <router-link :to="{ name: 'home' }">Home</router-link> |
    <router-link :to="{ name: 'about' }">About</router-link> |
    <router-link :to="{ name: 'user' }">User</router-link> |
  </div>
  <p>
    <button @click="$router.go(-1)">Go back 1 Step</button>
    <button @click="$router.go(1)">Go forward 1 Step</button>
    <button @click="$router.push('/about/1')">Redirect</button>
  </p>
  <router-view />
</template>

<style>
.router-link-exact-active {
  color: #194d33;
  text-decoration: underline;
  cursor: pointer;
}
*{
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
}
</style>
